// app global css in SCSS form

// Overall app theme //

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Sono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

body.body--light {
  color: black;
}

.links-primary {

  a,
  a:active,
  a:hover,
  a:visited {
    text-decoration: none;
    color: $primary;
  }
}


// Override existing Quasar presets

.q-toolbar__title {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: white;
}

.text-h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.q-toolbar {
  padding-left: 16px;
}

.q-drawer {
  background-color: transparent;
}

.q-drawer--dark.q-drawer--mobile {
  background-color: $dark;
}

.q-tab-panels--dark {
  background-color: rgba($dark, 0.0);
}

// Override default white "glow" around dark cards
.q-menu.q-dark {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);
}

body.body--dark .q-layout__shadow:after .q-layout__shadow:after {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2), 0 0px 10px rgba(0, 0, 0, 0.24);
}

.q-color-picker--dark {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2),
    0 2px 2px rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

// Override default dark body background
body.body--dark,
body.body--light {
  background: linear-gradient(180deg, #1d061a, #090707);
}

// Modify QCard and change dark card background
.q-card {
  position: relative;
  border-radius: 10px;
  border: 1.5px solid;
  box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
  border-color: rgba(0, 0, 0, 0.2);
}

.q-card--dark {
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.06);
}

.q-card--dark::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0;

  backdrop-filter: blur(15px);
  animation: fadeIn 0.7s ease 0.3s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.q-card .q-card {
  backdrop-filter: none;
  background-color: rgba(255, 255, 255, 0.03);
}

.q-card .q-card::after {
  backdrop-filter: none;
}

.glass {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
}

// Override default dark editor background
.q-editor--dark {
  background-color: rgba($dark, 0.3);
}

// Override default dark editor background
.q-dialog-plugin--dark {
  background-color: rgba($dark, 0.9);
}

// Override default footer color
.q-footer {
  background-color: rgba($dark, 0.9);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

// Override expansion item popup style
.q-card.q-card--dark.darker,
.q-color-picker--dark.darker {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
}

.q-expansion-item--popup.q-expansion-item--expanded {
  padding: 0;
}

.q-expansion-item--popup>.q-expansion-item__container {
  border: none;
}

// Style scrollbar
html {
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: $dark;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(white, 0.4);
}

// App-specific classes

.logo-text-link {
  color: white;
  text-decoration: none;
}

.logo-text-gradient {
  background-image: linear-gradient(60deg, #E21143, #FFB03A);
  background-clip: text;
  color: transparent;
}

.menu-list-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0 32px 32px 0;
  background-color: rgba($dark, 0.85);
  overflow: hidden;
}

.drawer-list {
  margin: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  border-radius: 0 32px 32px 0;
  border: 1.5px solid rgba(255, 255, 255, 0.06);
  transition: background-color 0.5s;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.08);
}

.drawer-list:hover {
  @media (max-width: $breakpoint-md-max) {
    background-color: rgba($dark, 0.3);
  }
}

.drawer-list .q-item {
  border-radius: 0 32px 32px 0;
}

.toolbar {
  // background-color: transparent;
  transition: background-color 0.3s ease;
}

.toolbar.scroll {
  background-color: rgba($dark, 0.85);
}

#pixel-anchor-toolbar-scroll {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 50px;
  left: 0;
}

.main-elements {
  margin-bottom: 10px;
}

.effect-control-card {
  transition: all 0.1s;
  min-width: 300px;
}

.effect-control-card.active {
  border-color: #7cb342;
}

.effect-control-card.selected {
  transform: scale(97%);
}

.page-padding-preview {
  padding-bottom: 116px;
}

.preview-expand-icon {
  transform: rotateX(179deg);
}

.q-btn.preset-button {
  width: 3rem;
  // border-radius: 0;
}

.small-screen-only {
  @media (max-width: $breakpoint-xs-max) {
    display: block;
  }

  @media (min-width: $breakpoint-sm-min) {
    display: none;
  }
}

.large-screen-only {
  @media (max-width: $breakpoint-xs-max) {
    display: none;
  }

  @media (min-width: $breakpoint-sm-min) {
    display: block;
  }
}

// Preview Bar
.preview-gradient {
  height: 10px;
  background-image: linear-gradient(to right,
      rgba(255, 0, 0, 1),
      rgba(255, 154, 0, 1),
      rgba(208, 222, 33, 1),
      rgba(79, 220, 74, 1),
      rgba(63, 218, 216, 1),
      rgba(47, 201, 226, 1),
      rgba(28, 127, 238, 1),
      rgba(95, 21, 242, 1),
      rgba(186, 12, 248, 1),
      rgba(251, 7, 217, 1),
      rgba(255, 0, 0, 1),
      rgba(255, 0, 0, 1),
      rgba(255, 154, 0, 1),
      rgba(208, 222, 33, 1),
      rgba(79, 220, 74, 1),
      rgba(63, 218, 216, 1),
      rgba(47, 201, 226, 1),
      rgba(28, 127, 238, 1),
      rgba(95, 21, 242, 1),
      rgba(186, 12, 248, 1),
      rgba(251, 7, 217, 1),
      rgba(255, 0, 0, 1), rgba(255, 0, 0, 1),
      rgba(255, 154, 0, 1),
      rgba(208, 222, 33, 1),
      rgba(79, 220, 74, 1),
      rgba(63, 218, 216, 1),
      rgba(47, 201, 226, 1),
      rgba(28, 127, 238, 1),
      rgba(95, 21, 242, 1),
      rgba(186, 12, 248, 1),
      rgba(251, 7, 217, 1),
      rgba(255, 0, 0, 1), rgba(255, 0, 0, 1),
      rgba(255, 154, 0, 1),
      rgba(208, 222, 33, 1),
      rgba(79, 220, 74, 1),
      rgba(63, 218, 216, 1),
      rgba(47, 201, 226, 1),
      rgba(28, 127, 238, 1),
      rgba(95, 21, 242, 1),
      rgba(186, 12, 248, 1),
      rgba(251, 7, 217, 1),
      rgba(255, 0, 0, 1), rgba(255, 0, 0, 1),
      rgba(255, 154, 0, 1),
      rgba(208, 222, 33, 1),
      rgba(79, 220, 74, 1),
      rgba(63, 218, 216, 1),
      rgba(47, 201, 226, 1),
      rgba(28, 127, 238, 1),
      rgba(95, 21, 242, 1),
      rgba(186, 12, 248, 1),
      rgba(251, 7, 217, 1),
      rgba(255, 0, 0, 1), rgba(255, 0, 0, 1),
      rgba(255, 154, 0, 1),
      rgba(208, 222, 33, 1),
      rgba(79, 220, 74, 1));
  background-size: 200% 200%;
  border-radius: 5px;

  animation: preview-animation-debug 5s ease infinite;
}

@keyframes preview-animation-debug {
  0% {
    background-position: 10% 0%
  }

  50% {
    background-position: 91% 100%
  }

  100% {
    background-position: 10% 0%
  }
}

// Transition animations //

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: height, opacity;
  transition-timing-function: ease;
  overflow: hidden
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.3s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden
}

.slide-left-enter-from,
.slide-right-leave-to {
  opacity: 0;
  transform: translate(2em, 0)
}

.slide-left-leave-to,
.slide-right-enter-from {
  opacity: 0;
  transform: translate(-2em, 0)
}

.zoom-enter-active,
.zoom-leave-active {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: zoom
}

.zoom-leave-active {
  animation-direction: reverse
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3)
  }

  100% {
    opacity: 1
  }
}


.shape1 {
  height: 200px;
  width: 200px;
  position: fixed;
  background: linear-gradient(315deg, #ffb03a, #ff0059);
  border-radius: 50%;
  bottom: 130px;
  right: -100px;
  z-index: -1;
}

.shape2 {
  height: 200px;
  width: 200px;
  position: fixed;
  border-radius: 50%;
  top: 50px;
  left: -100px;
  z-index: -1;
  background: linear-gradient(315deg, #ffb03a, #ff0059)
}
