#pragma once

// Hardware config
#define LED_PIN 13
#define NUM_LEDS 120
#define BUTTON_PIN 12

// uncomment to disable individual components
// #define DISABLE_MPU
// #define DISABLE_LED
// #define DISABLE_WEBFRONTEND

// LED config
#define DEFAULT_BRIGHTNESS 128

// Network host name
#define HOSTNAME "LongLEDBoard"

// WIFI Connection Setup
#define WIFI_SSID "Network_SSID"
#define WIFI_PASSWORD "Network_Password"

// WIFI AP Setup
#define AP_SSID HOSTNAME
#define AP_PASSWORD "ChangeMe"

// FTP Credentials
#define FTP_USER "ftp"
#define FTP_PASSWORD "ChangeMe"
